<html>
  <head>
    <title>Home page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
    $(function() {
      $( ".datepicker" ).datepicker();
    });
    </script>

    <style>
      .selected {
        font-weight: bold;
      }
    </style>

  </head>

  <div>
    <ul>
      {% for model in models %}
        <li>
          <a href="#" onclick="load_table('{{ model.name }}');return false;" id="{{ model.name }}_link">
            {{ model.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="right_panel" style="position: absolute; top:20px; left:300px;">
    <div>
      <table border="1" id="model_table"></table>
    </div>
    <br>

    <form style="display: none;" id="newrec_form">
      <input type="hidden" name="model" id="model" value="{{ current_model }}" /><br>
      <div id="form_fields">
      </div>
      <input type="submit" value="Submit" onclick="add_object();return false;"/>
    </form>
  </div>

</html>

<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  var csrftoken = getCookie('csrftoken');

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  function is_valid_date(d) {
    if ( Object.prototype.toString.call(d) === "[object Date]" ) {
      // it is a date
      if ( isNaN( d.getTime() ) ) {  // d.valueOf() could also work
        return false;
      }
      else
        return true
    }
    return false;
  }

  function validate_value(coltype, value, old_value) {
    // return error message if value is not valid
    var message = null;
    // validate value
    if (!value) {
      message = 'This field is required';
      return message;
    }

    if (coltype == 'int' && value != '' + parseInt(value))
      mesage = 'Integer is required.'


    if (coltype == 'date') {
      var parts = value.split('/');
      if (parts.length == 3) {
        var date = new Date(parts[2] + '-' + parts[1] + '-' + parts[0]);
        if (!is_valid_date(date))
          return 'Enter a valid date.'
      } else
        return 'Enter a valid date.'
    }
    return ''
  }

  function update_cell(rowid, colid, coltype, value, onerror) {
    $.ajax({
      type: "POST",
      url: "/smyt_models/edit_cell/",
      data: {
        rowid: rowid,
        colid: colid,
        coltype: coltype,
        value:value,
        model: $('#model').val()
      }
    }).done(function(result) {
      if (result != 'success') {
        alert(result);
        if (onerror)
          onerror();
      } else
        console.log('updated cell:', rowid, coltype, colid, value);
    });
  }

  var updating = false;
  $('#model_table').on('click', 'td', function() {
    if (updating)
      return;

    $('.__edit_input__').remove();
    var rowid = $(this).parents('tr').find('td:first').text();
    var colid = $(this).attr('colid');
    var coltype = $(this).attr('coltype');
    var value = $(this).text();
    var cell = $(this);
    var input_field = null;

    // Ignore 'id' cell
    if (colid == 'id')
      return;

    updating = true;
    console.log('edit cell:', rowid, coltype, colid, value);

    if (coltype == 'char') {
      input_field = $('<input />').attr('type', 'text')
          .attr('value', value)
          .attr('class', '__edit_input__');
    } else if (coltype == 'int') {
      input_field = $('<input />').attr('type', 'number')
          .attr('value', value)
          .attr('class', '__edit_input__');
    } else if (coltype == 'date') {
      input_field = $('<input />').attr('type', 'text')
          .attr('value', value)
          .attr('class', '__edit_input__');
      input_field.datepicker({
        onSelect: function() {
          updating = false;
          update_cell(rowid, colid, coltype, $(this).val(), function() {
            // on error restore old value
            cell.text(value);
          });
          cell.text($(this).val());
          input_field.remove();
        },
        dateFormat: "dd/mm/yy",
        onClose: function() {
          updating = false;
          var new_value = $(this).val();
          var error = validate_value(coltype, new_value);
          console.log('new_value:', new_value, error);
          if (error) {
            alert(error);
            cell.text(value);
          } else {
            update_cell(rowid, colid, coltype, new_value, function() {
              // on error restore old value
              cell.text(value);
            });
            cell.text(new_value);
          }
          input_field.remove();
        }
      });
    }

    $(this).html(input_field);
    input_field.focus();

    if (coltype != 'date') {
      input_field.blur(function() {
        updating = false;
        var error = validate_value(coltype, $(this).val());
        if (error) {
          alert(error);
          // on error restore old value
          cell.text(value);
        } else {
          update_cell(rowid, colid, coltype, $(this).val(), function() {
            // on error restore old value
            cell.text(value);
          });
          cell.text($(this).val());
        }
      });
    }
  });

  function create_table(model_name, result) {
    // clear table
    $('#model_table').html('');
    $('#form_fields').html('');
    $('#model').val(model_name);
    $('#newrec_form').show();

    // creta new table
    var table = $('<table />');
    // column titles
    var tr = $('<tr />');
    $(result.fields).each(function(i, field) {
      $('<th />').attr('colid', field.name).text(field.title).appendTo(tr);
      $('#model_table').append(tr);

      if (field.name != 'id') {
        $('<label />').attr('for', 'id_'+field.name).text(field.title).appendTo('#form_fields');
        var input = $('<input />').attr('id', 'id_'+field.name).attr('name', field.name);
        if (field.type == 'char') {
          input.attr('type', 'text').appendTo('#form_fields');
        } else if (field.type == 'int') {
          input.attr('type', 'number').appendTo('#form_fields');
        } else if (field.type == 'date') {
          input.attr('type', 'text').appendTo('#form_fields');
          input.datepicker();
        }
      }
    });

    // fill rows
    $(result.data).each(function(i, row) {
      var tr = $('<tr />');
      $(result.fields).each(function(index2, field) {
        $('<td />').attr('colid', field.name).attr('coltype', field.type).text(row[index2].value).appendTo(tr);
      });
      $('#model_table').append(tr);
    });

  }

  function load_table(model_name) {
    $.ajax({
      type: "POST",
      url: "/smyt_models/table/",
      dataType: "json",
      data: {
        model: model_name
      }
    }).done(function(result) {
      if (result.error) {
        alert(result.error);
      } else {
        console.log('result:', result);
        create_table(model_name, result);
        $('.selected').removeClass('selected');
        $('#' + model_name + '_link').addClass('selected')
      }
    });
  }

  function add_object() {
    var data = $('form').serializeArray().reduce(function(obj, item) {
      obj[item.name] = item.value;
      return obj;
    }, {});
    console.log('data:', data);

    $.ajax({
      type: "POST",
      url: "/smyt_models/add/",
      data: data
    }).done(function(result) {
      if (result.error) {
        alert(result.error);
      } else {
        console.log('added cell:', data);
        create_table(data.model, result);
      }
    });
  }

</script>